@import "../../../styles/variables";

.history {
	width: 450px;
	height: 200px;
	padding: 12px 24px;
	margin-bottom: 12px;
	background-color: $blockColor;
	&__content {
		display: flex;
		flex-direction: column;
		&__top {
			display: flex;
			justify-content: space-between;
			margin-bottom: 12px;
			p {
				font-weight: 500;
			}
		}
		&__middle {
			display: flex;
			justify-content: space-between;
			img {
				height: 133px;
				width: 100px;
				margin-right: 16px;
			}
		}
	}
}

.content__info {
	width: 100%;
	display: flex;
	flex-direction: column;
	&__top {
		width: 100%;
		font-weight: 500;
		border-bottom: 1px solid $halfopacity;
	}
	&__middle {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 8px 0px;
	}
	&__bottom {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}

.info__episodes {
	color: $fontColor;
}
.info__genres {
	display: flex;
	li {
		color: $fontColor;
		padding: 8px 12px;
		background-color: $blockActiveColor;
		border-radius: 4px;
		margin-right: 8px;
	}
}
.info__rating {
	span {
		color: $blueColor;
	}
}
.info__watchstate {
	color: $greenColor;
}

@media (max-width: 1025px) {
	.history {
		width: 100%;
	}
}
@media (max-width: 426px) {
	.info__genres {
		display: none;
	}
	.content__info__middle {
		flex-direction: column;
	}
	.content__middle {
		padding: 0;
	}
}
