@import "@styles/_variables.scss";
.relationBlock {
  margin: 24px 0px;
  @include block;
  padding: 16px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 12px;

  @media (max-width: 900px) {
    justify-content: flex-start;
  }
  @media (max-width: 400px) {
    display: none;
  }
  &-content {
    display: flex;
    align-items: center;
    max-width: 400px;

    margin-right: 24px;
    padding-right: 24px;

    &:not(:last-child) {
      border-right: 1px solid $lowopacity;
    }

    @media (max-width: 900px) {
      margin-right: 0px;
      padding-right: 0px;
    }

    &__image {
      height: 100%;
      overflow: hidden;
      margin-right: 8px;
      img {
        aspect-ratio: 3/4;
        height: 100%;
        object-fit: cover;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      small {
        color: $gray;
      }
    }
  }
}
