@import "../../../styles/variables";
.infoBlock {
	padding: 12px;
	box-shadow: $blockShadow;
	border-radius: 4px;
	@include block;
	p {
		font-weight: 600;
		margin-bottom: 4px;
		text-align: left;
	}
	&-genres {
		button {
			margin-right: 4px;
			transition: all 0.2s ease-in-out;
			&:hover {
				filter: brightness(110%);
				filter: hue-rotate(-45deg);
			}
		}
	}
}

.description {
	margin-top: 24px;
	@include block;
	padding: 8px;
}
