@import "@styles/variables";
.navbar {
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  height: 86px;
  background-color: rgb(36, 36, 36);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $blockActiveColor;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    height: 100%;
    width: 100%;
    padding-right: 20px;
  }
  &-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.11em;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .navbar-auth {
    display: none;
  }
}
