@import "./variables";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--lato-font);
  color: white;
}

body {
  direction: ltr;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  min-height: 100svh;
  background-color: #1e1e1e;
  font-family: "Lato", sans-serif;
  color: #e9e9e9;
}

svg circle,
svg path {
  shape-rendering: geometricprecision;
}

button {
  border: none;
  outline: 0;
  cursor: pointer;
}

input {
  outline: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.prev-button,
.next-button {
  font-size: 24px;
  z-index: 1000;
  position: absolute;
  width: 60px;
  height: 260px;
  border: none;
  top: 45%;
  transform: translate(-50%, -50%);
  &:disabled {
    opacity: 0;
  }
}
.prev-button {
  left: 25px;
  background: $blockColor; /* Old browsers */
  background: -moz-linear-gradient(left, $blockColor 0%, $whiteColor 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $blockColor 0%, $whiteColor 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    $blockColor 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.next-button {
  right: -30px;
  background: -moz-linear-gradient(right, $blockColor 0%, $whiteColor 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, $blockColor 0%, $whiteColor 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to left,
    $blockColor 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.block {
  background-color: #3a3a3a;
  border-radius: 4px;
  padding: 12px;
  &-list {
    display: flex;
  }
}

@media (max-width: 426px) {
  .prev-button,
  .next-button {
    top: 42%;
  }
}
