@import "@styles/_variables.scss";

.modal {
	z-index: 1000;

	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.3);
	&-container {
		width: clamp(320px, 100%, 700px);

		padding: 24px;

		background-color: $blockColor;
		border-radius: 4px;
		&__content {
			display: flex;
			flex-direction: column;
		}
	}
}
