@import '../../../styles/_variables.scss';

.filterblock {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding: 0px 24px;
    &.active {
        padding: 24px;
        @include block;
        height: clamp(1024px, 100%, 2048px);
    }
}

.filter {
    &::after {
        position: absolute;
        width: 40px;
        height: 20px;
        background-color: red;
    }
    &-title {
        font-size: 20px;
        background-color: $blockActiveColor;
        position: relative;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 500;
        padding: 24px 24px;
        img {
            margin-right: 4px;
        }
        &__dropdown {
            margin-left: 4px;
            margin-top: 4px;
        }
    }
}
