@import "@styles/variables";

.anime-card {
  position: relative;
  height: 100%;
  width: clamp(70px, 100%, 180px);
  &__preview {
    display: none;
    height: 300px;
    width: 400px;

    position: absolute;
    bottom: -100%;
    right: -240%;
    transform: translate(-50%, -50%);

    padding: 12px;
    border-radius: 12px;
    background-color: $backgroundColor;
    z-index: 10;
  }
  &:hover {
    .anime-card__preview {
      display: flex;
      flex-direction: column;
    }
  }
  .anime-card-image {
    display: block;
    position: relative;

    height: 85%;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.6s ease-in-out;
      border: 1px solid $lowopacity;
      object-fit: cover;
    }
    &:hover {
      overflow: hidden;
      img {
        content-visibility: auto;
        transition: all 0.2s ease-in-out;
        scale: 105%;

        background-size: cover;
      }
    }
    .anime-card-image__rating {
      position: absolute;
      bottom: 12px;
      left: 8px;
      background-color: $backgroundColor;
      box-shadow: $blockShadow;
      border-radius: 4px;
      padding: 4px 8px;
    }
  }
  .anime-card-info {
    margin-top: 8px;
    padding: 0px 10px;
    .anime-card-info__title {
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid $lowopacity;
    .anime-card-image__list {
      aspect-ratio: 3/4;
      width: 100%;
      min-width: 120px;
      max-width: 140px;
      padding-right: 8px;
      img {
        transition: all 0.2s ease-in-out;
        border: 1px solid $lowopacity;
        width: 100%;
        object-fit: cover;
      }
    }
    .anime-card-image__rating {
      position: absolute;
      bottom: 24px;
      left: 12px;
      background-color: $backgroundColor;
      box-shadow: $blockShadow;
      border-radius: 4px;
      padding: 4px 8px;
    }
    .anime-card-info__list {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding: 0px 10px;
      .anime-card-info__title {
      }
      .anime-card-info__episodes {
        color: $gray;
        margin-top: 12px;
      }
      .anime-card-info__more {
        span {
          color: $fontColor;
        }
      }
      .anime-card-info__description {
        margin-top: 8px;
        color: $gray;
        max-width: 600px;
        height: 54px;
        overflow: hidden;
      }
    }
  }
}

@media (max-width: 426px) {
  .anime-card__info {
    flex-direction: column;
    &__title {
      max-width: 165px;
      margin-right: 0px;
    }
    &__rating {
      border-left: none;
    }
  }
}
@media (max-width: 376px) {
  .anime-card__info {
    flex-direction: column;
    &__title {
      max-width: 120px;
    }
    &__rating {
      border-left: none;
    }
  }
}
