@import "@styles/variables";

.animeCarousel {
  padding: 12px 24px;
  display: flex;
  height: 100%;
}

.skeleton {
  margin-right: 300px;
  height: 85%;
  width: clamp(70px, 100%, 180px);
}

.skeleton__title {
  height: 10%;
  width: clamp(70px, 100%, 180px);
}
