@import "@styles/variables";
.selectComponent {
  width: 100%;
  margin-bottom: 12px;
  p {
    text-align: left;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
  }
  &-container {
    width: 100%;
    border: 2px solid $lowopacity;
    &:hover {
      border: 2px solid $gray;
      background-color: $blockActiveColor;
    }
    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      height: 100%;
      margin-right: 8px;
      font-weight: 400;
      display: flex;
      margin-bottom: 0px;
    }
  }
  &-dropdown {
    display: none;
    background-color: $blockActiveColor;
    &.active {
      display: block;
    }
  }
}
.dropdown-list {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;

  p {
    height: 100%;
  }
  li {
    display: flex;
    cursor: pointer;
    padding: 4px 16px;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    border: 1px solid $lowopacity;
    color: $fontColor;
    input {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(110%);
      border: 1px solid $buttonColorPrimary;
      input {
        scale: 130%;
      }
      p {
        scale: 104%;
        filter: brightness(140%);
      }
    }
  }
}

.dropdown-icon__active {
  transform: rotate(180deg);
}
