@import "@styles/variables";

.anime-page {
  &__info {
    display: flex;
  }
}
.anime-info {
  &__leftside {
    padding-right: 12px;
  }
  &__image {
    margin-top: 12px;
    width: 240px;
    position: relative;
    &-src {
      width: 100%;
      min-width: 140px;
      object-fit: cover;
    }
  }
  &__favorite {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 36px;
    height: 36px;
    padding: 4px;

    &:hover {
      svg {
        path {
          fill: $redColor;
        }
      }
    }
  }
  &__rightside {
    padding-left: 12px;
  }
  &-title {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    p {
      border-right: 1px solid $halfopacity;
      margin-right: 12px;
      padding-right: 12px;
      font-size: clamp(18px, calc(1vw + 1vh), 24px);
      font-weight: 700;
    }
    span {
      color: $gray;
    }
  }
  &-title__mobile {
    margin-top: 12px;
    display: none;
    align-items: center;
    justify-content: flex-start;
    p {
      border-right: 1px solid $halfopacity;
      margin-right: 12px;
      padding-right: 12px;
      font-size: calc(2vw + 1vh);
      font-weight: 700;
    }
    span {
      color: $gray;
    }
  }
  &__mobile {
    @media (max-width: 800px) {
      margin-left: 12px;
    }
  }
}

.description {
  margin-top: 24px;
  @include block;
  padding: 8px;
  max-height: 200px;
  overflow: hidden;

  &.active {
    max-height: none;
  }
}

@media (max-width: 800px) {
  .anime-page__container {
    padding: 12px;
  }
  .anime-info-title {
    display: none;
  }
  .anime-info-title__mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      border-right: none;
    }
  }
  .anime-page__info {
    flex-direction: column;
  }
  .anime-info__leftside {
    display: flex;
    padding: 0px;
    justify-content: center;
  }
  .anime-info__rightside {
    padding: 0px;
  }
}
