@import "../../styles/variables";

.anime-page {
	margin-top: 160px;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	&__background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		max-height: 600px;
		height: 50vw;
		z-index: 0;
		background: linear-gradient(360deg, $backgroundColor 2.57%, rgba(0, 0, 0, 0) 100%), url(""), $whiteColor;
		background-repeat: no-repeat;
		background-position: 0% 0%;
		background-size: cover;
		background-size: 100% 100%;
	}
	&__container {
		background-color: $blockColor;
		position: relative;
		z-index: 2;
		margin: 0 auto;
		max-width: 1400px;
		height: 100%;
		width: 100%;
		padding: 32px;
	}
	&__info {
		display: flex;
	}
}
.anime-info {
	&__leftside {
		width: 300px;
		padding-right: 12px;
	}
	&__image {
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__rate {
		cursor: pointer;
		margin-top: 12px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 42px;
		padding: 8px;
		background-color: $blockActiveColor;
		border-radius: 8px;

		img {
			border-right: 1px solid $halfopacity;
			margin-right: 24px;
			padding-right: 12px;
		}
		P {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}
	&__addlist {
		cursor: pointer;
		margin-top: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 42px;
		padding: 8px;
		background-color: $blockActiveColor;
		border-radius: 8px;
		span {
			margin-right: 4px;
			font-weight: 700;
		}
		p {
			margin-right: 4px;
		}
		img {
			margin-top: 2px;
			height: 4px;
		}
	}
	&__rightside {
		padding-left: 12px;
	}
	&-title {
		margin-top: 12px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		p {
			border-right: 1px solid $halfopacity;
			margin-right: 12px;
			padding-right: 12px;
			font-size: 24px;
			font-weight: 700;
		}
		span {
			color: $gray;
		}
	}
	&-rank {
		display: flex;
		align-items: center;
		padding: 12px 8px;
		margin-top: 24px;
		border: 1px solid $whiteColor;
		width: 100%;
		height: 100px;
		min-width: 600px;
	}
}
.rank-avg {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 700;
	padding: 0px 16px;
	border-right: 1px solid $gray;
	p {
		font-size: 16px;
		margin-bottom: 4px;
	}
	span {
		font-size: 36px;
	}
}
.rank-stats {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex: 80%;
}
.rank-place,
.rank-popularity,
.rank-reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 700;
	margin: 0 24px;
	p {
		font-size: 16px;
	}
	span {
		font-size: 36px;
	}
}
