@import "../styles/variables";

.home {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: calc(100% + 60px);
	&-background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		max-height: 600px;
		height: 50vw;
		z-index: 0;
		background: linear-gradient(360deg, $backgroundColor 2.57%, rgba(0, 0, 0, 0) 100%),
			url(../assets/images/home.png), $whiteColor;
		background-repeat: no-repeat;
		background-position: 0% 0%;
		background-size: cover;
		background-size: 100% 100%;
	}
	&-container {
		position: relative;
		z-index: 2;
		margin: 0 auto;
		max-width: 1400px;
		height: 100%;
		width: 100%;
		&__content {
			display: flex;
			justify-content: space-between;
			gap: 24px;
		}
		margin-top: 70px;
	}
}

.catalogue {
	max-height: 340px;
	background-color: $blockColor;
	box-shadow: $blockShadow;
	padding: 24px 36px;
	display: flex;
	margin-bottom: 64px;
}

@media (max-width: 1025px) {
	.home-container__content {
		flex-direction: column;
	}
	.home-content__left {
		display: flex;
		flex-direction: row;
	}
}
@media (max-width: 600px) {
	.home-container__content {
		flex-direction: column;
	}
	.home-content__left {
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 425px) {
	.catalogue {
		padding: 12px;
	}
}
