.dropdown-options {
	position: absolute;
	top: 100%;
	left: 0;
	list-style: none;
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	background-color: #1a1a1a;
}

.dropdown-options li {
	padding: 10px;
	cursor: pointer;
}

.dropdown-options li:hover {
	background-color: #f0f0f0;
}

.dropdown-options .selected {
	background-color: #e0e0e0;
}
