@import "../../../styles/variables";
.infoBlock {
  padding: 12px;
  box-shadow: $blockShadow;
  border-radius: 4px;
  @include block;
  p {
    font-weight: 600;
    margin-bottom: 4px;
    text-align: left;
  }
  &-outlined {
    button {
      padding: 3px;
      margin-left: 6px;
      transition: all 0.2s ease-in-out;
      &:hover {
        filter: brightness(110%);
        filter: hue-rotate(-45deg);
      }
    }
  }
}
