@import "../../../styles/variables";

.catalogue {
	height: 360px;
	background-color: $blockColor;
	box-shadow: $blockShadow;
	padding: 12px 24px;
	display: flex;
	margin-bottom: 64px;
	border: 1px solid $lowopacity;
}

.anime-card {
	&__image {
		height: 260px;
		position: relative;
		min-height: 210px;
		padding: 0px 0px;
		img {
			border: 1px solid $lowopacity;
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: all 0.3s ease-in-out;
			&:hover {
				scale: 105%;
			}
		}
	}
	&__info {
		margin-top: 8px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		box-shadow: $blockShadow;
		color: $blockColor;
		border: 1px solid $lowopacity;
		&__title {
			white-space: nowrap;
			max-width: 125px;
			overflow: hidden;
			margin-right: 10px;
		}
		&__rating {
			border-left: 1px solid $halfopacity;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

@media (max-width: 426px) {
	.anime-card__info {
		flex-direction: column;
		&__title {
			max-width: 165px;
			margin-right: 0px;
		}
		&__rating {
			border-left: none;
		}
	}
	.catalogue {
		padding: 12px;
	}
}

@media (max-width: 376px) {
	.anime-card__info {
		flex-direction: column;
		&__title {
			max-width: 120px;
		}
		&__rating {
			border-left: none;
		}
	}
}
