@import "../../../styles/variables";

.catalogue {
	height: 340px;
	margin-bottom: 32px;
	padding: 12px 24px;
	display: flex;
	@include block;
}

@media (max-width: 426px) {
	.anime-card__info {
		flex-direction: column;
		&__title {
			max-width: 165px;
			margin-right: 0px;
		}
		&__rating {
			border-left: none;
		}
	}
	.catalogue {
		padding: 12px;
	}
}
