@import "../../../styles/variables";
.animegrid {
  width: 100%;
  height: 100%;
  display: flex;
  @include block;

  &-container {
    padding: 24px;
    width: 100%;
    height: 100%;
    @media (max-width: 426px) {
      gap: 4px;
    }
    &__content {
      height: 100%;
      display: flex;
      justify-content: center;
    }

    h2 {
      margin-bottom: 16px;
    }
  }
}

.animegrid-content__items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  > strong {
    margin: 0 auto;
    margin-top: 48px;
    font-size: 32px;
  }
  > div {
    width: 180px;
    height: 300px;
    margin-right: 24px;
    margin-bottom: 24px;
    min-height: 0px;
    img {
      height: 260px;
    }
    @media (max-width: 500px) {
      flex-direction: column;
      width: 120px;
      height: 220px;
      margin-right: 12px;
      margin-bottom: 12px;
      img {
        height: 180px;
      }
    }
  }
}
.animegrid-content__filter {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 4px;
  flex-direction: column;
}

@media (max-width: 768px) {
  .animegrid-container__content {
    flex-direction: column-reverse;
  }
  .animegrid-content__filter {
    width: 100%;
    margin-bottom: 24px;
    min-height: 0;
    padding: 0;
  }
  .animegrid-container {
    padding: 4px;
    h2 {
      text-align: center;
      margin-top: 12px;
    }
  }
  .animegrid-content__items {
    justify-content: center;
    position: relative;
  }
}
@media (max-width: 500px) {
  .animegrid-content__items {
    justify-content: space-around;
  }
}

.loading-content {
  position: absolute;
  top: 60%;
  left: 25%;
}
