@import "@styles/variables";

.anime-info-rank {
  padding: 12px 8px;
  margin-top: 24px;
  border: 1px solid $whiteColor;
  max-width: 600px;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
.rank-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 4px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
  }
}
.rank-avg,
.rank-place,
.rank-popularity,
.rank-reviews {
  text-align: center;
  font-weight: 700;

  p {
    font-size: 16px;
  }
  span {
    font-size: 36px;
  }
  &:not(&:last-child) {
    border-right: 1px solid $halfopacity;
    padding-right: 8px;
    @media (max-width: 768px) {
      border-right: none;
    }
  }
}
