@import '../../../.././styles/variables';
.container {
  li {
    width: 100%;
    height: 100%;
    label {
      width: 100%;
      height: 100%;
    }
  }
}
.active {
  background-color: $buttonColorPrimary;
  color: $whiteColor;
}

input[type='radio'] {
  display: none;
}
