@import "@styles/variables";

.home-content__left {
  width: 512px;
}

@media (max-width: 1025px) {
  .home-container__content {
    flex-direction: column;
  }
  .home-content__left {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.homepage__carousel {
  margin-bottom: 64px;
  @include block;
  height: clamp(120px, calc(35vw + 17vh), 330px);
}
