@import "../../styles/variables";

.recommendations {
	padding: 24px;
	background-color: $blockColor;
	box-shadow: $blockShadow;
	&-content {
		width: 100%;
		height: 100%;
		p {
			margin-bottom: 16px;
		}
	}
}
.recommendations-content__grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	img {
		width: 85px;
		height: 120px;
	}
}
